<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            Change Password
        </title>
        
    <!-- Icons font CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    
    <!-- Main CSS-->
    <link href="http://localhost:3000/stylesheets/main.css" rel="stylesheet" media="all">
    </head>
    
<body style="background-color: white;">
    <!-- <%- include('header') %>  -->

    <% if(id==3) { %>
        <%- include('sac_header') %> 
        <% } %>

        <% if(id==4) { %>
            <%- include('lib_header') %> 
            <% } %>

        <div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
            <div class="wrapper wrapper--w680">
                <div class="card card-1">
                    
                    <div class="card-body">
                        <center><h2 class="title" style="color: #0060b4;">Change Password</h2></center>
                        <form method="POST" action="#" onSubmit = "return validate(this)">
                                <div class="input-group">
                                        <input type="password" placeholder="Old Password" name="oldpasswd" id="oldpasswd" size="100" required>
                                    </div>
                                    <div class="input-group">
                                        <input type="password" placeholder="New Password" name="newpasswd" id="Pass1" size="100" required>
                                    </div>
                                    <div class="input-group">
                                        <input type="password" placeholder="Confirm Password" name="confirmpasswd" id="Pass2" onfocusout="validate()" size="100" required>
                                    </div>
                                    <span id="error-Password" style="color:red;"></span> 
                                    <br/>
                                    <br/>
                                    <button type="submit" onclick="return Validate()" name="submitButton" id="submitButton">Submit</button>
                                    
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
        <script src="http://localhost:3000/javascripts/reg.js"></script>
        <!-- Jquery JS-->
        
        <script src="http://localhost:3000/javascripts/jquery.min.js"></script>
        <!-- Vendor JS-->
        <script src="http://localhost:3000/javascripts/select2.min.js"></script>
        <script src="http://localhost:3000/javascripts/moment.min.js"></script>
        <script src="http://localhost:3000/javascripts/daterangepicker.js"></script>
    
        <!-- Main JS-->
        <script src="http://localhost:3000/javascripts/global.js"></script>
        <script src="http://localhost:3000/javascripts/ChangePassword.js"></script> 
        <%- include('footer') %> 
    </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
    
</html>

