<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/AdminDashboard_css.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <nav class="n1">
        <div>
            <br>
    <header><img src="/images/DAIICT.jpg" class="img1"/></header>
    </div>
    </nav>  

<div class="topnav" id="myTopnav">
    
    <a class="menualign" href="#home" class="active">Home</a>
    <a href="#news">RegenerateQr</a>
    <a href="/borrow_history">Equipment borrow history</a>
    <a href="#contact">Log out</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>

</div>

</body>
</html>